* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFECD1;
  font-size: 16px;
  font-family: 'Syne', sans-serif;
}

.header-container {
  height: 250px;
}

.header-container nav {
  background-color: #001524;
  position: fixed;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 10px;
}

.header-container nav ul li {
  margin: 0 40px 0 10px;
  text-decoration: none;
}

.header-container nav ul li a {
  text-decoration: none;
  color: #FFECD1;
  font-size: 1.2rem;
}

.header-container nav ul li a:hover {
  color: #f6490d;
}

.main-container {
  background-color: #FFECD1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 110px;
}

.main-container .banner-container {
  background-color: #15616d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-bottom: 100px;
}

.main-container .banner-container .banner-text-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
  width: auto;
  height: 200px;
}

.main-container .banner-container .banner-text-top h1 {
  font-family: 'Lexend Peta', sans-serif;
  font-size: 3.5rem;
  color: #FFECD1;
}

.main-container .banner-container .banner-text-top h1:hover {
  color: #f6490d;
}

.main-container .banner-container .banner-text-down {
  background-color: #FFECD1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 550px;
  width: 100%;
}

.main-container .banner-container .banner-text-down h2 {
  font-family: 'Lexend Peta', sans-serif;
  font-weight: 800;
  color: #15616d;
  font-size: 2.2rem;
  margin-top: 60px;
}

.main-container .work-container {
  background-color: #FFECD1;
  margin-top: 150px;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .work-container h3 {
  font-size: 2.5rem;
  text-align: center;
  color: #78290F;
}

.main-container .work-container .works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: 1200px;
}

.main-container .work-container .works .work {
  border: 4px solid #15616d;
  border-radius: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  width: 400px;
  margin: 60px;
}

.main-container .work-container .works .work .work-name {
  background-color: #78290F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  height: 50px;
  width: 355px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .work-container .works .work .work-name p {
  color: #FFECD1;
  font-weight: 800;
}

.main-container .social-media {
  background-color: #15616d;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.main-container .social-media h4 {
  font-size: 2rem;
  color: #FFECD1;
  margin-top: 15px;
  text-decoration: underline;
}

.main-container .social-media h4:hover {
  color: #f6490d;
}

.main-container .social-media .social-media-icons {
  height: 100px;
  margin-top: 10px;
  text-align: center;
}

.main-container .social-media .social-media-icons a img {
  width: 2%;
  margin: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 30px;
  margin: 10px auto;
  background-color: #FFECD1;
}

footer p {
  color: #001524;
  margin-right: 10px;
  font-weight: bold;
}

footer .orange {
  color: #f6490d;
}
/*# sourceMappingURL=style.css.map */