* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #15616d;
  color: #FFECD1;
  font-size: 16px;
  font-family: 'Syne', sans-serif;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .header-container {
  height: 980px;
}

.main-container .header-container nav {
  background-color: #001524;
  position: fixed;
  width: 80%;
  left: 150px;
  top: 10px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-container .header-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 10px;
}

.main-container .header-container nav ul li {
  margin: 0 40px 0 10px;
  text-decoration: none;
}

.main-container .header-container nav ul li a {
  text-decoration: none;
  color: #FFECD1;
  font-size: 1.2rem;
}

.main-container .header-container .main-banner-container {
  margin-top: 100px;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .header-container .main-banner-container .banner-text {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  width: 800px;
}

.main-container .header-container .main-banner-container .banner-text h1 {
  font-family: 'Lexend Peta', sans-serif;
  font-size: 3.5rem;
}

.main-container .header-container .main-banner-container .banner-text p {
  font-family: 'Lexend Peta', sans-serif;
  color: #FF7D00;
  margin-top: 5rem;
  font-size: 2rem;
}

.main-container .work-container {
  background-color: #FFECD1;
  height: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .work-container .subwork-container {
  margin: 100px 0 200px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .work-container .subwork-container h2 {
  color: #78290F;
  font-size: 2.5rem;
}

.main-container .work-container .subwork-container .works {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 20px auto;
}

.main-container .work-container .subwork-container .works .work {
  border: 1px solid #15616D;
  margin: 50px;
  padding: 20px;
}

.main-container .work-container .subwork-container .works .work img {
  margin-top: 20px;
}

.main-container .work-container .subwork-container .works .work .work-name {
  background-color: #78290F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin: 20px 0 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .work-container .subwork-container .works .work .work-name p {
  font-weight: 300;
  color: #FFECD1;
}

.main-container .social-media {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.main-container .social-media h2 {
  margin-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #FFECD1;
}

.main-container .social-media .social-media-icons {
  height: 100px;
  margin-top: 5px;
  text-align: center;
}

.main-container .social-media .social-media-icons a img {
  width: 2%;
  margin: 20px;
}

.main-container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 30px;
  margin: 0 auto 10px;
  background-color: #FFECD1;
}

.main-container footer p {
  color: #001524;
  margin-right: 10px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */