* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFECD1;
    font-size: 16px;
    font-family: 'Syne', sans-serif;
}

.header-container {
    height: 250px;
    
    nav {
        background-color: #001524;
        position: fixed;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        ul{
            display: flex;
            list-style: none;
            margin-right: 10px;

            li {
                margin: 0 40px 0 10px;
                text-decoration: none;

                a {
                    text-decoration: none;
                    color: #FFECD1;
                    font-size: 1.2rem;
                }

                a:hover {
                   color: #f6490d; 
                }
            }
        }
    }
}

.main-container {
    background-color: #FFECD1;
    display: flex;
    flex-direction: column;
    margin-top: 110px;

    .banner-container{
        background-color: #15616d;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 100px;

        .banner-text-top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 30px;
            width: auto;
            height: 200px;

            h1 {
                font-family: 'Lexend Peta', sans-serif;
                font-size: 3.5rem;
                color: #FFECD1;
            }

            h1:hover {
                color: #f6490d;
            }

        }

        .banner-text-down {
            background-color: #FFECD1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 550px;
            width: 100%;
            
            h2 {
                font-family: 'Lexend Peta', sans-serif;
                font-weight: 800;
                color: #15616d;
                font-size: 2.2rem;
                margin-top: 60px;
            }
        }


    }

    .work-container {
        background-color: #FFECD1;
        margin-top: 150px;
        margin-bottom: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 2.5rem;
            text-align: center;
            color: #78290F;
        }
            

        .works {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 100px;
            margin-bottom: 100px;
            width: 100%;
            height: 1200px;

            .work {
                border: 4px solid #15616d;
                border-radius: 2%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 20px;
                width: 400px;
                margin: 60px;

                .work-name {
                    background-color: #78290F;
                    display: flex;
                    margin-top: 10px;
                    height: 50px;
                    width: 355px;
                    justify-content: center;
                    align-content: center;
                    align-items: center;

                    p {
                        color: #FFECD1;
                        font-weight: 800;
                    }
                }
            }
        }    
    }

    .social-media {
        background-color: #15616d;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;

        h4 {
            font-size: 2rem;
            color: #FFECD1;
            margin-top: 15px;
            text-decoration: underline;
        }

        h4:hover {
            color: #f6490d;
        }

        .social-media-icons {
            height: 100px;
            margin-top: 10px;
            text-align: center;

            a img {
                width: 2%;
                margin: 20px;
            }
        }
    }

}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 30px;
    margin: 10px auto;
    background-color: #FFECD1;

    p {
        color: #001524;
        margin-right: 10px;
        font-weight: bold;
    }

    .orange {
        color: #f6490d;
    }
}