* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #15616d;
    color: #FFECD1;
    font-size: 16px;
    font-family: 'Syne', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;

    .header-container {
        height: 980px;
        

        nav {
            background-color: #001524;
            position: fixed;
            width: 100%;
            top: 0px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            ul{
                display: flex;
                list-style: none;
                margin-right: 10px;

                li {
                    margin: 0 40px 0 10px;
                    text-decoration: none;

                    a {
                        text-decoration: none;
                        color: #FFECD1;
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .main-banner-container {
            margin-top: 150px;
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;

            .banner-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 400px;
                width: 800px;

                h1 {
                    font-family: 'Lexend Peta', sans-serif;
                    font-size: 3.5rem;
                }

                p {
                    font-family: 'Lexend Peta', sans-serif;
                    color: #FF7D00;
                    margin-top: 5rem;
                    font-size: 2rem;
                }
            }

        }
    }

    .work-container {
        background-color: #FFECD1;
        height: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .subwork-container {
            margin-top: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                color: #78290F;
            }

            .works {
                width: 60%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                margin-top: 20px auto;

                .work {
                    border: 1px solid #15616D;
                    margin: 50px;
                    padding: 20px;

                    .work-name {
                        background-color: #78290F;
                        display: flex;
                        height: 50px;
                        justify-content: center;
                        align-content: center;
                        align-items: center;

                        p {
                            font-weight: 300;
                            color: #FFECD1;
                        }
                    }
                }
            }
        }
        
    }

    .social-media {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .social-media-icons {
            height: 100px;
            margin-top: 30px;
            text-align: center;

            a img {
                width: 5%;
                margin: 40px;
            }
        }
    }

}